form(method='POST' action=action)
  div
    label(for='username') username：
    input#username(
      type='text'
      name='username'
      required='true'
    )
  div
    label(for='password') password：
    input#password(
      type='text'
      name='password'
      required='true'
    )
  div
    input(type='submit')
