form(method='POST' action=action)
  div
    label(for='username') username：
    input#username(
      type='text'
      name='username'
      required='true'
    )
  div
    label(for='password') password：
    input#password(
      type='password'
      name='password'
      required='true'
    )
  div
    input(type='submit' value='submit' onClick='return getHashAndSubmit();')

script.
  var getHashAndSubmit = function() {
    try {
      var passwordSelctor = document.getElementById('password');
      var shaObj = new jsSHA("SHA-512", "TEXT")
      shaObj.update(passwordSelctor.value)
      var hash = shaObj.getHash("HEX")
      passwordSelctor.value = hash
      return true;
    } catch (_e) {
      return false;
    }
  }
